<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
    {% from "macro_Form_Index.html" import render_field %}

	<form method=post>
		<dl>
	    {{ render_field(form.username) }}
	    {{ render_field(form.password) }}
	    <input type="submit" name="boton">
  		</dl>
	</form>

	{%if alert%}
		<p>Ingresaste incorrectamente los datos</p>
	{%endif%}

	{%if alert_mail%}
		<p>El usuario no fue validado por mail</p>
	{%endif%}
</body>
</html>
